.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background: hsla(0, 0%, 0%, 0.4);
}

.modal {
  width: 400px;
  height: 230px;

  padding: 20px;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #222;
  border: 1px solid #444;
  box-shadow: var(--m-shadow, 0.4rem 0.4rem 10.2rem 0.2rem) var(--shadow-1);
  position: relative;

  overflow: hidden;
}

.modal-btn {
  width: 100px;
  height: 60px;
  position: absolute;
  bottom: 20px;
  right: calc(50% + 5px);
}

.add-btn {
  left: calc(50% + 5px);
}
